@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.article_header .h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Poppins', sans-serif;
}

.officials {
  background-image: url('https://i.ibb.co/Y0x402r/429830436-719635967011848-7766261297760836012-n.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 108vh;
  width: 100vw;
  margin: 0;
}

.header {
  padding: 2rem;
  margin-top: 50px;
  align-content: center;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none;
  /* Hide scrollbar IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.artist {
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgb(29, 29, 29);
  width: 270px;
  margin: 10px;
  border-radius: 10px;
}

.card img {
  height: 260px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card h1 {
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.card h2 {
  padding: 10px;
  font-size: medium;
  color: rgb(0, 0, 0);
}

.card p {
  padding: 10px;
  font-size: medium;
  color: BLACK;
}

.divider {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  font-size: xx-large;
}

  .news {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

.card2 {
  width: 270px;
  margin: 10px;
  border-radius: 10px;
}

.card2 img {
  height: 170px;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.card h4 {
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}

h4:hover {
  color: blue;
}

.card p {
  padding: 10px;
  font-size: medium;
  color: rgb(0, 0, 0);
}

footer {
  background: rgb(29, 29, 29);
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 30px;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 20px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 3rem 0;
}

.socials li {
  margin: 0 35px;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials a i {
  font-size: 2rem;
  transition: color .4s ease;
}

.socials a:hover {
  color: aqua;
}

.botFooter {
  float: right;
  list-style: none;
  margin: 30px -20px 0 0;
  width: 56%;
}

.botFooter li {
  display: inline-block;
  border-right: 1px solid #ffffff;
}

.botFooter li:last-child {
  border: none;
}

.botFooter li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.botFooter li a:hover {
  background: rgb(255, 255, 255);
  color: rgb(29, 29, 29);
}

.hero {
    background: rgb(29, 29, 29);
    margin-top: 56px;
    margin-bottom: 100px;
    padding: 10px;
    height: 277px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
  }

.hero > div {
  margin-top: 60px;
}

.hero > div > h2 {
  font-size: 60px;
}

.about-logo {
  position: relative;
  width: 20%;
  margin-top: 139px;
  margin-left: 278px;
}

.about-row {
  display: flex;
  padding: 1% 10%;
  margin-bottom: 100px;
}

.about-col-6 {
  flex: 50%;
  padding: 1% 5%;
  text-align: justify;
  line-height: 1.6;
}

.about-col-6 > p {
  font-size: 25px;
}

.about-col-6 > img {
  width: 100%;
}

.artist2 {
display:grid;
margin-left: 12%;
grid-template-columns: repeat(4, 1fr);
}

.artcard {
  background-color: rgb(29, 29, 29);
  width: 240px;
  margin: 10px;
  border-radius: 10px;
}

.artcard h1 {
  padding: 10px;
  text-align: center;
  color: white;
}

.artcard img {
  height: 170px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.divider2 {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  font-size: xx-large;
  position: static;
}